/* RESET */
:root {
  --bg-color: #191919;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, Arial;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

/* Wrapper */
.wrapper {
  width: 100%;
}

section {
  width: 100%;
  /* height: 100vh;  Removed fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 100vh; /* Ensure section takes at least full viewport height */
}

/* Main Body */
.home {
  background-image: url("dog-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

.logo {
  height: auto;
  width: 200px;
  position: absolute;
  left: 20px;
  top: 8px;
  width: 150px;
  filter: drop-shadow(1px 2px 2px #222);
  z-index: 10;
}

.logo:hover {
  filter: drop-shadow(1px 1px 5px black);
}

.nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgb(98, 97, 97);
}

.nav > #nav-check {
  display: none;
}

.hero {
  text-align: center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: drop-shadow(1px 2px 2px #222);
}

.hero img {
  height: auto;
  max-width: 100%;
  margin-bottom: 2rem;
}

.hero h1 {
  color: #fff;
  font-size: 6rem;
}

.hero h1:hover {
  text-shadow: 0 0 5px #ffffff;
}

.hero button {
  background-color: #fff;
  margin-right: auto;
  color: #333;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.75;
  font-weight: bold;
}

.hero button:hover {
  opacity: 1;
  color: red;
  box-shadow: 0 0 10px #ffffff;
}

.hero button:active {
  opacity: 1;
  color: white;
  background-color: black;
}

/* Shop Section */
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%; /* Limit the container width */
  margin: 0 auto; /* Center the container */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.product:hover {
  transform: scale(1.2);
  background-color: black;
  color: white;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-title {
  font-weight: bold;
  text-align: center;
}

.product-price {
  color: green;
  text-align: center;
}

.product-description {
  margin-bottom: 10px;
  text-align: center;
}

.product-reviews {
  font-style: italic;
  text-align: center;
}

.add-button {
  border-radius: 5px;
  display: block;
  margin: auto;
  padding: 7px 10px;
}

.read-button {
  border-radius: 5px;
  display: block;
  margin: auto;
  padding: 7px 10px;
}

.add-button:hover {
  background-color: green;
  color: white;
}

.add-button:active {
  background-color: green;
  color: black;
}

/* Product Modal*/
/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal img {
  width: 300px;
}

.modal-content {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #ff0000;
  font-size: 34px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* About Section */
.about-container {
  text-align: center;
  padding: 20px; /* Use relative units for padding */
}

p {
  margin: 0;
}

.abt-dog {
  width: 350px;
  height: auto;
}

.about-title {
  margin-top: 10px;
}

/* Contact */
.contact {
  background-color: black;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: white;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.contact-text {
  color: white;
}

.submit {
  border-radius: 5px;
  display: block;
  margin: auto;
  padding: 7px 10px;
  font-weight: bold;
}

.submit:hover {
  background-color: black;
  color: red;
  box-shadow: 0 0 10px #ffffff;
  font-weight: bold;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  height: auto;
  width: 100vw;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  /*line-height: 3rem;*/
  margin: 0%;
  padding-top: 5px;
}

.footer-content p{
  max-width: 500px;
  /*margin: 10px auto;*/
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color:red;
}

/* Media Queries for Tablets */
@media (max-width: 810px) {

  .product-container {
    flex-direction: column; 
    align-items: center; 
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .product {
    margin-bottom: 40px; 
    margin-left: 0;
  }


  .about-container {
    margin: 100px 50px; 
    padding: 200px 100px; 
  }
}

/* Media Queries for Phones */
@media (max-width: 480px) {
  .hero h1 {
    font-size: 3rem; 
  }
  
  .hero button {
    padding: 0.8rem 1.5rem;
  }

  .about-container {
    margin: 50px 20px; 
    padding: 100px 50px; 
  }

.product {
  margin-left: 0;
}
.product-container {
  margin-top: 150px;
}
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}